.App {
  background-image: url("background.jpeg");
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #7C4326;
  font-weight: bolder;
}

.welcomebackground {
  background-image: url("background.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #7C4326;
  font-weight: bold;
  font-size: 10pt;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9eb0d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(85, 10, 10);
}

.App-link {
  color: #61dafb;
}

.form {
  width: 20vw;
  left: 25vw;
}

.container {
  min-width: 100%;
  min-height: 600px;
  display: flex;
  overflow-x: auto
}

.logotext {
  text-align: left;
  font-size: 48pt;
  font-family: 'Roboto Mono', monospace;
  color: black;
}

.welcomelogo {
  width: 20vw;
  height: 41vw;
  position: absolute;
  padding-top: 7vw;
  left: 40vw;
  bottom: 7vw;
}

.welcomecontainer {
  width: 70vw;
  font-weight: 600;
  font-size: larger;
  color: white;
  display: inline-block;
  margin-bottom: 20vw;
  margin-top: 20vw;
  position: relative;
  padding-bottom: 2vw;
  padding-top: 2vw;
}

.welcomelink {
  color: white;
  text-decoration: none;
}

.logo {
  width: 20px;
  height:40px;
}

.img {
  height: 475px;
  width: 600px;
}

.display {
  text-align: center;
}

#tablehead{
  background-color:  #476A00;
  color: white;
}

#tablebody{
  background-color:  #A2C423;
  color: white;
}

.navbar {
 background-color:#476A00;
 display: flex;
 justify-content: left;
 align-items: center;
 height: 5vw;
}

.searchBar {
  width: 13vw;
}

.navBtnLogo {
  display: inline-block;
  padding-left: 1vw;
  padding-right: 42vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.navBtn {
  display: inline-block;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

#button {
  background-color: #7C4326;
  color: white;
}

.commcontainer {
  width: 70vw;
  display: inline-block;
  padding-bottom: 2vw;
}

.commentform {
  padding-bottom: 2vw;
}

.comment {
  font-size: 14pt;
}

.commentbar {
  padding-right: 1vw;
}

.card {
  min-width: 600px;
  min-height: 500px;
  margin: 20px;
  margin-top: 3vw;
  border-bottom-style: none;
  text-decoration: none;
}

.link {
  color:  #7C4326;
  text-decoration: none;
}

.description {
  display: inline-block;
  width: 70vw;
  font-size: 14pt;
}

.gif {
  width: 750px;
  height: 500px;
}

.dropdown {
  width: 30vw;
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
